---
/** biome-ignore-all lint/correctness/noUnusedImports: React icons are used in JSX */
/** biome-ignore-all lint/correctness/noUnusedVariables: variables used in Astro components */

import AppHero from "@astro/sections/AppHero.astro";
import FAQ from "@astro/sections/FAQ.astro";
import Features from "@astro/sections/Features.astro";
import { faqs } from "@config/faqs";
import { features } from "@config/features";
import { screenshots } from "@config/screenshots";
import { siteConfig } from "@config/site";
import Layout from "@layouts/Layout.astro";
import Lightbox from "@react/interactive/Lightbox";
import Screenshots from "@react/interactive/Screenshots";

const { name: title, description, storeLinks, logo } = siteConfig;
---

<Layout title={title} description={description}>
  <main class="min-h-screen max-w-5xl mx-auto px-4 py-8">
    <AppHero title={title} description={description} storeLinks={storeLinks} logo={logo} />
    <div class="mb-16"><Screenshots images={screenshots} client:load /></div>
    <Features items={features} />
    <!-- <Reviews items={reviews} client:visible /> -->
    <FAQ items={faqs} />
  </main>
</Layout>

<Lightbox images={screenshots} client:load />

<style is:global>
  .screenshots-scroll {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }
  }
</style>
